h1 {
    background-color: aqua;
    text-align: center;
    margin: 10px 150px;
    padding: 10px 0;
    border: 8px solid #960a96;
    border-radius: 24px;
}

svg {
    height: 150px;
    width: 150px;
    position: relative;
    left: 250px;
    border: 3px solid #960a96;
    padding: 30px;
}

.sky_wind {
    /* background-color: yellow; */
    height: 40vh;
    margin-top: 20px;
    border: 5px solid black;
}

.temp_humidity {
    background-color: orange;
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
}

#sky {
    width: 200px;
}

span {
    position: relative;
    left: 250px;
    font-size: 1.5rem;
    color: rgb(59, 56, 238);
}

.temp {
    
}

.humidity {
    
}